/* VLFLDR's eww bar
    github.com/vlfldr */


//// GRUVBOX COLORS ////
$shadow         :rgba(60, 56, 54, 0.5);
$dark0_hard     :#1d2021;
$dark0          :#282828;
$dark0_soft     :#32302f;
$dark1          :#3c3836;
$dark2          :#504945;
$dark3          :#665c54;
$dark4          :#7c6f64;
$dark4_256      :#7c6f64;
$gray_245       :#928374;
$gray_244       :#928374;
$light0_hard    :#f9f5d7;
$light0         :#fbf1c7;
$light0_soft    :#f2e5bc;
$light1         :#ebdbb2;
$light2         :#d5c4a1;
$light3         :#bdae93;
$light4         :#a89984;
$light4_256     :#a89984;
$bright_red     :#fb4934;
$bright_green   :#b8bb26;
$bright_yellow  :#fabd2f;
$bright_blue    :#83a598;
$bright_purple  :#d3869b;
$bright_aqua    :#8ec07c;
$bright_orange  :#fe8019;
$neutral_red    :#cc241d;
$neutral_green  :#98971a;
$neutral_yellow :#d79921;
$neutral_blue   :#458588;
$neutral_purple :#b16286;
$neutral_aqua   :#689d6a;
$neutral_orange :#d65d0e;
$faded_red      :#9d0006;
$faded_green    :#79740e;
$faded_yellow   :#b57614;
$faded_blue     :#076678;
$faded_purple   :#8f3f71;
$faded_aqua     :#427b58;
$faded_orange   :#af3a03;

//// GLOBAL STYLES ////
* {
    all: unset;
    font-family: 'CozetteVector';
}

// statusbar windows
.container,
.popup {
    color: $light1;    
    font-size: 14px; 
    background-color: $dark1;
    border-radius: 2px;
    margin: 10px;   // remember - margins in empty space
    min-height: 32px;
    border: 2px solid $light3;
    padding: 0 10px;
    box-shadow: 3px 3px 2px $shadow;
}

// popup windows
.popup {
    margin: 11px; 
    //margin-top: 55px;
    padding: 10px;
}

.volume-popup,
.brightness-popup {
    min-height: 0;
    margin: 0;
    padding: 5px;

    // vertical sliders
    scale trough {
        all: unset;
        background-color: $dark1;
        border-radius: 2px;
        min-height: 100px;
      }
}

.now-playing-popup--details {
    margin-right: 20px;
}

// sliders
scale trough {
  all: unset;
  background-color: $dark1;
  border-radius: 2px;
  min-width: 100px;
  border: 1px solid $light1;
  margin: 10px;
  margin-left: 0;
}


//// WORKSPACES ////
.hyprland {
    color: $dark3;
    font-size: 24px;
    padding: 0 5px 0 3px;
    
    // padding between workspace icons
    & > * {
        padding: 2.5px 5px;

        // pixel-perfect workspace alignment
        &:first-child,
        &:nth-child(5) {
            margin-top: 2px;
        }
    }
    .ws_active { color: $light2; }

    .ws_inactive { color: $dark3; }

    .ws_current { color: $neutral_yellow; }
}


//// MPD ////
.mpd-info {
    margin-top: 2px;
}

.mpd-container {
    padding-right: 0;
}

// playing/paused icon
.mpd-label-icon {
    font-size: 23px;
    margin: -2px;   // don't touch! pixel-perfect spacing
    color: $neutral_blue;
}

// seek bar
.mpd-slider {
    margin-top: 2px;
}

.mpd-slider trough slider {
    min-width: 7px;
    min-height: 7px;
    border-radius: 1px;
    background-color: $light2;
}

.mpd-slider trough highlight {
    min-height: 7px;
    background-color: $light2;
    border-radius: 1px;
}

// album art
image {
    border-left: 2px solid $light3;
    padding: 0;
}

.now-playing-image {
    border: none;
}


//// TRAY ////
.tray {
    margin-right: 11px; // unsure why this is needed
    padding-left: 3px;
}

.tray-icon {
    min-width: 27px;
}

.wifi-icon {
    min-width: 12px;
    margin-left: -1px;
    margin-right: 2px;
}

.battery-icon {
    margin-left: 1px;
    margin-right: 2px;
}

//// BLUETOOTH ////
.bluetooth-popup {
    min-height: 0;
}

// tray icon
.bluetooth-icon {
    min-width: 13px;
    margin-right: 8px;
}

// Turn Bluetooth On/Off button
.bluetooth-button {
    background-color: $dark0_soft;
    min-width: 137px;
    border-radius: 2px;
    padding: 5px;
}

.device-list {
    margin: 0;
    padding: 0;
}

.device {
    padding: 5px;
}

//// BRIGHTNESS ////
.brightness-slider {
    padding-top: 5px;
}

.brightness-slider trough {
    border-radius: 2px;

    & highlight {
        background-color: $neutral_yellow;
        border-radius: 2px;
    }

    & slider {
        min-height: 8px;
        min-width: 8px;
        border: 1px solid $neutral_yellow;
        border-radius: 2px;
        background-color: $neutral_yellow;
    }
}

//// VOLUME ////
.volume-icon {
    // &-no { }

    &-yes {
        color: red;
    }
}

.volume-slider {
    padding-top: 5px;
}

.volume-slider trough highlight {
    background-color: $neutral_aqua;
    border-radius: 2px;
}

.volume-slider trough slider {
    background-color: $neutral_aqua;
    min-width: 8px;
    min-height: 8px;
    border: 1px solid $neutral_aqua;
    border-radius: 2px;
}


//// TIME & DATE ////
.date-slider {
    margin-left: 8px;
}

.clock {
    margin-top: 2px;
    margin-right: 2px;
}


//// HOVER TOOLTIP ////
tooltip {
    background-color: $dark1;
    border-radius: 2px;
    border: 1px solid $light2;
    color: $light1;
    font-size: 12px;
}
